<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Venkatesh | Contact Me</title>
	<link rel="stylesheet" type="text/css" href="../static/assets/css/contact-me.css">
</head>

<body>
	<section class="contact">
		<div class="content">
			<h2>Contact Me</h2>
			<p>Welcome to the heart of our virtual connection! <br> We value your thoughts, questions, and feedback, and
				we're thrilled to offer you multiple ways to get in touch.</p>
		</div>
		<div class="container">
			<div class="contactInfo">
				<div class="box">
					<div class="icon"><ion-icon name="location-outline"></ion-icon></div>
					<div class="text">
						<h3>Address</h3>
						<p>Patia,<br>Bhubaneswar, ODISHA <br>751031</p>
					</div>
				</div>
				<div class="box">
					<div class="icon"><ion-icon name="call-outline"></ion-icon></div>
					<div class="text">
						<h3>Phone</h3>
						<p>000-000-0000</p>
					</div>
				</div>
				<div class="box">
					<div class="icon"><ion-icon name="mail-outline"></ion-icon></div>
					<div class="text">
						<h3>Email</h3>
						<p>sahoovenketeswar@gmail.com</p>
					</div>
				</div>
				<h2 class="txt">Connect with us</h2>
				<ul class="sci">
					<li><a href="https://www.facebook.com/venketes.viku/"><ion-icon name="logo-facebook"></ion-icon></a>
					</li>
					<li><a href="https://www.instagram.com/_venketesh_v_i_k_u/"><ion-icon
								name="logo-instagram"></ion-icon></a>
					</li>
					<li><a href="https://www.linkedin.com/in/venketeswar-sahoo/"><ion-icon
								name="logo-linkedin"></ion-icon></a></li>
					<li><a href="https://github.com/VenketeswarSahoo"><ion-icon name="logo-github"></ion-icon></a></li>
				</ul>
			</div>

			<div class="contactForm">
				<form action="/contact" method="post">
					<h2>Send Message</h2>
					<div class="inputBox">
						<input type="text" name="name" required="required">
						<span>Full Name</span>
					</div>
					<div class="inputBox">
						<input type="text" name="email" required="required">
						<span>Email</span>
					</div>
					<div class="inputBox">
						<textarea required="required" name="message"></textarea>
						<span>Type your Message...</span>
					</div>
					<div class="inputBox">
						<input type="submit" value="Send">
					</div>
				</form>
			</div>
		</div>
	</section>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>