<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venkatesh | Portfolio</title>
    <link rel="shortcut icon" href="images/favicon_io/android-chrome-192x192.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
</head>

<body>
    <div id="nav">
        <a href="./index.html">Venketeswar Sahoo</a>
        <svg onclick="locoScroll.scrollTo('#main')" class="header_back__30UYF" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 62 62">
            <g fill="white" fill-rule="nonzero">
                <path
                    d="M31 .5C14.155.5.5 14.155.5 31S14.155 61.5 31 61.5 61.5 47.845 61.5 31 47.845.5 31 .5zm0 1c16.292 0 29.5 13.208 29.5 29.5S47.292 60.5 31 60.5 1.5 47.292 1.5 31 14.708 1.5 31 1.5z">
                </path>
                <path
                    d="M38.974 33.704c-1.733-.021-5.35-1.67-15.577-1.712 3.83.877 7.425 2.418 7.318 4.622-.043 1.113-.728 1.926-1.947 1.947-.471 0-.963-.15-1.37-.556-1.37-1.37-1.284-4.922-6.098-6.398l-.407-.107c5.221-1.37 5.2-4.986 6.505-6.462.385-.428.942-.556 1.412-.556 1.156 0 1.883.813 1.905 1.947.021 2.204-3.66 3.787-7.51 4.643 10.377-.064 14.036-1.712 15.748-1.669 1.326 0 2.375.963 2.353 2.14 0 1.24-1.005 2.16-2.332 2.16z">
                </path>
            </g>
        </svg>
        <button class="resume-btn">
            <a style="text-decoration: initial;" href="./contact-me.html">Touch With Me</a>
        </button>
        <button class="resume-btn-prt">
            <a style="text-decoration: initial;" href="./contact-me.html">Contact Me</a>
        </button>
    </div>
    <div id="main">
        <div data-scroll-section id="page1">
            <h1>Who the fuck is</h1>
            <div id="image-div">
                <img src="../static/assets/images/asset 0.png" alt="">
            </div>
        </div>
        <div data-scroll-section id="page2">
            <div id="name-div">
                <h1>Venkatesh ? </h1>
                <h1>Venkatesh ? </h1>
                <h1>Venkatesh ? </h1>
                <h1>Venkatesh ? </h1>
            </div>
            <div id="intro-div">
                <h1>Hi!</h1>
                <h1>I'm Venkatesh, a full stack web developer and a freelance UI/UX designer. </h1>
                <h1>I'm a dynamic full-stack web developer with an MCA from Biju Patnaik University. With 100+ projects
                    under my belt, I blend creativity and precision to craft captivating front-end interfaces and robust
                    back-end systems. My adaptability to new technologies, collaborative spirit, and passion for
                    innovation fuel my drive to create seamless user experiences. Let's collaborate and turn your web
                    development ideas into reality!</h1>
                <div id="prof">
                    <a target="_blank" href="https://www.linkedin.com/in/venketeswar-sahoo/">
                        <img src="../static/assets/images/asset 1.png" alt="">
                    </a>
                    <a target="_blank" href="https://github.com/VenketeswarSahoo">
                        <img src="../static/assets/images/asset 2.png" alt="">
                    </a>
                </div>

            </div>
        </div>
        <div data-scroll-section id="page3">
            <h3>Things I'm <span>good</span> at</h3>
            <h5>skills, interests, passion and hobbies</h5>
            <div class="box dev-box">
                <h4>Front-end skills</h4>
                <div class="elem-div">
                    <img src="../static/assets/images/asset 3.webp" alt="">
                    <img src="../static/assets/images/asset 4.webp" alt="">
                    <img src="../static/assets/images/asset 5.webp" alt="">
                    <img src="../static/assets/images/asset 6.webp" alt="">
                    <img src="../static/assets/images/asset 7.webp" alt="">
                    <img src="../static/assets/images/asset 8.png" alt="">
                </div>
            </div>
            <div class="box des-box">
                <h4>Back-end skills</h4>
                <div class="elem-div">
                    <img src="../static/assets/images/asset 11.png" alt="">
                    <img src="../static/assets/images/asset 12.webp" alt="">
                    <img src="../static/assets/images/asset 13.png" alt="">
                    <img src="../static/assets/images/asset 14.webp" alt="">
                    <img src="../static/assets/images/asset 15.webp" alt="">
                    <img src="../static/assets/images/asset 16.webp" alt="">
                    <img src="../static/assets/images/asset 17.png" alt="">
                    <img src="../static/assets/images/asset 18.png" alt="">
                    <img src="../static/assets/images/asset 19.png" alt="">
                </div>
            </div>
        </div>
        <div data-scroll-section id="page4">
            <h2>crafted with <span>love</span>.</h2>
            <h4>these are few of my recent works</h4>
            <div id="work-sample">
                <img src="../static/assets/images/asset 21.webp" alt="">
                <img src="../static/assets/images/asset 22.gif" alt="">
                <img src="../static/assets/images/asset 23.webp" alt="">
                <img src="../static/assets/images/asset 24.webp" alt="">
                <img src="../static/assets/images/asset 25.webp" alt="">
                <img src="../static/assets/images/asset 26.gif" alt="">
                <img src="../static/assets/images/asset 27.webp" alt="">
                <img src="../static/assets/images/asset 28.webp" alt="">
                <img src="../static/assets/images/asset 29.webp" alt="">
            </div>
            <a target="_blank" href="https://github.com/VenketeswarSahoo">
                <img src="../static/assets/images/asset 30.png" alt="">
            </a>
        </div>
        <div data-scroll-section id="page6">
            <h1>watch my <span>more</span> artwork.</h1>
            <div id="artworks">
                <a target="_blank" href="https://github.com/VenketeswarSahoo?tab=repositories">
                    <h4>2023</h4>
                    <h5>Wedding_Website_Blog | Connects the brands</h5>
                    <h6>Designing beutiful Wedding Website for your Wedding</h6>
                    <div id="sliding-div"></div>
                </a>
                <a target="_blank" href="https://github.com/VenketeswarSahoo?tab=repositories">
                    <h4>2023</h4>
                    <h5>Responsive_clone_website</h5>
                    <h6>A clone Website using HTML and CSS</h6>
                    <div id="sliding-div"></div>
                </a>
                <a target="_blank" href="https://github.com/VenketeswarSahoo?tab=repositories">
                    <h4>2023</h4>
                    <h5>Plantex | for buy plants</h5>
                    <h6>This is a best website for buying your dream plants.</h6>
                    <div id="sliding-div"></div>
                </a>
                <a target="_blank" href="https://github.com/VenketeswarSahoo?tab=repositories">
                    <h4>2023</h4>
                    <h5>React_weather_app </h5>
                    <h6>Weather app using react and Weather API</h6>
                    <div id="sliding-div"></div>
                </a>
                <a target="_blank" href="https://github.com/VenketeswarSahoo?tab=repositories">
                    <h4>2023</h4>
                    <h5>Blog Website</h5>
                    <h6>This is amazing blog website using React/Next js and Strapi CMS</h6>
                    <div id="sliding-div"></div>
                </a>
                <a target="_blank" href="https://github.com/VenketeswarSahoo?tab=repositories">
                    <h4>2023</h4>
                    <h5>Filterable Gallery</h5>
                    <h6>Made a Filterable Gallery using react</h6>
                    <div id="sliding-div"></div>
                </a>
                <a target="_blank" href="https://github.com/VenketeswarSahoo?tab=repositories">
                    <h4>2023</h4>
                    <h5>Ecommerce Website</h5>
                    <h6>This is beutiful Ecommerce website using React/Nextjs and Strapi CMS</h6>
                    <div id="sliding-div"></div>
                </a>

            </div>
        </div>
        <section data-scroll-section class="page5">
            <h1>you can get in touch <br>
                with me via <span class="mail">
                    <a target="_blank"
                        href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=sahoovenketeswar@gmail.com">Email</a>
                </span> or
                <span class="instagram">
                    <a target="_blank" href="https://www.instagram.com/_venketesh_v_i_k_u/">instagram</a>
                </span> or <span class="linkedin">
                    <a target="_blank" href="https://www.linkedin.com/in/venketeswar-sahoo/">linkedIn</a></span>.
            </h1>
            <footer>
                created with ❤️ by venkatesh 😜
            </footer>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"
        integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"
        integrity="sha512-tHvUcUQYi35zApvAa5TNR3fNhBQkVtkmWKfacnpxmix4/VTGz1lGjIVyLMp7gLgAvg+aKJjnVKokXJNS5GZ+/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/assets/js/script.js"></script>
</body>

</html>